header.container-fluid.p-3.header-bg-color
  div.container.d-flex.align-items-center.justify-content-between
    div.d-flex.align-items-center
      img(src='/images/default-avatar.webp' alt='Avatar' width='50' height='50')
      p.mx-3.mb-0 FirstName LastName MiddleName 
    div
      button.btn.btn-success Отделы
      button.btn.btn-success.ms-2 Пользователи
      button.btn.btn-danger.ms-5 Выход

