header.container-fluid.p-3
  div.container.d-flex.align-items-center.justify-content-between
    div.d-flex.align-items-center
      img(src='' alt='Avatar')
      p FirstName LastName MiddleName 
    div
      button.btn.btn-danger Выход

