doctype html
html(lang="ru")
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel='shortcut icon' type='image/svg' href='/images/logo.svg')
      link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
      link(rel="stylesheet" type="text/css" href="/css/main.css")
      title e-archive.airtech.uz
  body
    // HEADER
    include _header

    // CONTENT
    block content
      h1 This is a placeholder heading
    
    // FOOTER
    include _footer

