doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='shortcut icon' type='image/svg' href='/images/logo.svg')
    link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/css/main.css")
    title e-archive.airtech.uz
  body
    main.container.mt-3
      h2 Вход на e-archive.airtech.uz
      form.form--login
        .mb-3.mt-3
          label(for='personnelNumber') Табельный номер:
          input#personnelNumber.form-control(type='number' placeholder='Введите табельный номер' name='personnelNumber')
        .mb-3
          label(for='pwd') Пароль:
          input#pwd.form-control(type='password' placeholder='Введите пароль' name='pwd')
        button.btn.btn-primary(type='submit') Submit
    //- SCRIPTS
    script(src='/js/index.js')
    script(src='/js/test.js')

